<div class="table-responsive" xmlns:th="http://www.w3.org/1999/xhtml">
    <table id="allStores" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
        <tr>
            <th scope="col">Store Name</th>
            <th scope="col">Opinion</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="all: ${opinions}">
            <td th:text="${all.storeName}"></td>
            <td th:text="${all.text}"></td>
            <td th:text="${all.rating}"></td>
        </tr>
        </tbody>
    </table>
</div>