<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/musicStore}" th:object="${idea}" method="post" id="userForm">

        <label  th:text="Nickname"></label><br/>
        <input   style="width: 300px;" type="text" placeholder="nickname" th:field="${idea.nickname}"/>
        <br>
        <label  th:text="Suggestion"></label><br/>
        <input  style="width: 650px; height: 150px" type="text" placeholder="suggestion" th:field="${idea.ideaText}"/>
        <br>
        <br>
        <button type="submit" class="btn btn-warning" style="color: white">Send your suggestion</button>
    </form>
</div>