<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <style>#mapid { height: 700px; }</style>
</head>
<body>
<div id="mapid"></div>
<script th:inline="javascript">
    var map = L.map('mapid').setView([52.95, 19.23], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
        L.marker([52.14, 21.01]).addTo(map)
        .bindPopup("MX Music")
        .openPopup();
    L.marker([52.17, 21.01]).addTo(map)
        .bindPopup("In hurt")
        .openPopup();
    L.marker([52.19, 20.98]).addTo(map)
        .bindPopup("Megascena")
        .openPopup();
    L.marker([52.23, 21.08]).addTo(map)
        .bindPopup("GuitarProject")
        .openPopup();
    L.marker([52.27, 21.15]).addTo(map)
        .bindPopup("MuzycznyMarket")
        .openPopup();
    L.marker([52.15, 21.18]).addTo(map)
        .bindPopup("Riff Megastore")
        .openPopup();
    L.marker([52.21, 20.96]).addTo(map)
        .bindPopup("Super Sound")
        .openPopup();
    L.marker([52.24, 21.01]).addTo(map)
        .bindPopup("Metro")
        .openPopup();
    L.marker([52.27, 21.00]).addTo(map)
        .bindPopup("GuiterProShop")
        .openPopup();
    L.marker([52.12, 21.05]).addTo(map)
        .bindPopup("Pasja")
        .openPopup();
</script>
</body>
</html>
