<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Store Information</title>

    <!--JQUERY-->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- FRAMEWORK BOOTSTRAP-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Fonts , CSS, JS-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--  css file-->
    <link rel="stylesheet" type="text/css" href="static/css/user-form.css"
          th:href="@{/css/user-form.css}">
    <!-- DATA TABLE -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript">
        $(document).ready(function() {
            <!--upewniam sie ze identyfikator w tabeli jest rowny identyfikatorowi po symbolu #-->
            $('#userList').DataTable();
        } );
    </script>
</head>


<body>
<div class="container">
    <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
        <!--znacznik ul oznacza liste nieupozatkowana , jedyny dopuszczalny element wewnwtrz znaccznika to <li> ktory definiuje kolejnosc listy-->
        <ul class="nav nav-tabs justify-content-end">

            <li class="nav-item">
                <a class="nav-link" th:classappend=" ${listTab} "id="Stores" data-toggle="tab" href="#all" role="tab" aria-controls="form" aria-selected="true">All Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Details" data-toggle="tab" href="#Details1" role="tab" aria-controls="form" aria-selected="true">Store Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="Opinion" data-toggle="tab" href="#Opinion1" role="tab" aria-controls="form" aria-selected="true">Get Opinion</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="Map" data-toggle="tab" href="#Map1" role="tab" aria-controls="form" aria-selected="true">Stores Map</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/userForm}"><span th:text="${#authentication.getPrincipal().getUsername()}">
                </span> - <span>Go Back</span>
                    <span class="float-right"><i class="fas fa-sign-out-alt"></i></span></a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show" th:classappend=" ${listTab}" id="all" role="tabpanel" aria-labelledby="list-tab">
                <div class="card">
                    <div class="card-header">
                        <!--nazwa sekcji - header -->
                        <h4>All Stores</h4>
                    </div>
                    <div class="card-body">
                        <!--link do przejscia na inna templatke z user-list-->
                        <div th:include="musicStore-form/allStores.html" th:remove="tag"></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Opinion1" role="tabpanel" aria-labelledby="for">
                <div class="card">
                    <div class="card-header">
                        <h4>Opinion Store</h4>
                    </div>
                    <div class="card-body">
                        <div th:include="musicStore-form/opinionStores.html" th:remove="tag"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Details1" role="tabpanel" aria-labelledby="for">
                <div class="card">
                    <div class="card-header">
                        <h4>Detail store</h4>
                    </div>
                    <div class="card-body">
                        <div th:include="musicStore-form/detailsStores.html" th:remove="tag"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="Map1" role="tabpanel" aria-labelledby="for">
                <div class="card">
                    <div class="card-header">
                        <h4>Map Stores</h4>
                    </div>
                    <div class="card-body">
                        <div th:include="musicStore-form/MapStores.html" th:remove="tag"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>