
<div xmlns:th="http://www.w3.org/1999/xhtml">
    <form th:action="@{/musicStore}" th:object="${opinion}" method="post" id="userForm">


        <!--    <select class="form-control" th:field="${opinion.musicStores}" th:disabled="${disableFields}">
               <option th:each="mes :${musicStores}" th:value="${mes.storeId}" th:text="${mes.storeName}">
               </option>
           </select>-->

        <label  th:text="StoreName "></label><br>
            <select class="form-control" th:field="${opinion.storeName}" th:disabled="${disableFields}">
                <option value="muzyk">muzyk</option>
                <option value="drummer">drumer</option>
                <option value="sopran">sopran</option>
                <option value="alt">alt</option>
                <option value="magictumtumtum">magictumtumtum</option>
            </select>

        <br>

        <label  th:text="Opinion"></label><br/>
        <input   type="text" placeholder="Opinion" th:field="${opinion.text}"/>
        <br>

        <label  th:text="Rating"></label><br/>
        <select class="form-control" th:field="${opinion.rating}" th:disabled="${disableFields}">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <button type="submit" class="btn btn-warning">Add</button>
    </form>
</div>