body{
    background: url(../img/backgroung.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:6%;
}
.card{
    opacity: .90;
}
.card-body{
    background-color: #d1d3d7;
    box-shadow: 0px 1px 3px #848485;
}

label{
    font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
    background-color: #d1d3d5;
}

.nav-tabs{
    border-bottom:2px;
}