<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Starting website! </title>
    <link rel="stylesheet" type="text/css" href="static/css/start.css" th:href="@{/css/start.css}">
</head>
<body>
    <div id="container">
        <div id="topbar">
            Welcome User! <br>
            Check Music Store !<br>
        </div>
        <div id="button">
            <div id="buttonL">
                        <!--przekierowanie jak zapomnisz hasla , jeszcze nie ma tego  -->
                        <p><a href="#" th:href="@{/login}" style="color:black; margin-top: 100px;">Go to login page</a></p>
            </div>
            <div id="buttonR">
                            <!--przekierowanie jak zapomnisz hasla , jeszcze nie ma tego  -->
                            <p><a href="https://chatgp.herokuapp.com/" style="color:black; margin-top: 100px;"> Chatting with others Users </a></p>
            </div>
        </div>
        <div id = "footer" style="margin-top: 200px; text-align: center; font-weight: bold">
            Page on the web from 2020. &copy; All rights reserved.
            <br/>
            Created by Grzegorz Poznański
            <br>
             <a style="color: black" href="https://github.com/skaler12">GitHub Profile</a>
        </div>
    </div>
</body>
</html>