<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <h2>Music Stores - review Application</h2>
        <br>
        <a style="font-weight: bold; font-size: large">- Welcom User!</a><br>
        <a style="font-weight: bold; font-size: large">-Thank you for using our application.</a><br>
        <a style="font-weight: bold; font-size: large">-The application supports such functionalities as:</a><br>
        <a>-List of music stores</a><br>
        <a>-List of opinions about stores</a><br>
        <a>-Map music stores in Warsaw</a><br>
        <a>-Adding new store</a><br>
        <a>-User Panel</a><br>
        <a>-Users List</a><br>
        <a>-Chat</a><br>
        <a>-Support</a><br>
        <a style="font-weight: bold; font-size: large">Check it Out!</a><br>

    </div>
    <div id = "footer" style="margin-top: 200px; text-align: center">
        Page on the web from 2020. &copy; All rights reserved.
        <br/>
        Created by Grzegorz Poznański
    </div>
</div>