<div xmlns:th="http://www.w3.org/1999/xhtml" style="text-align: center">
        <a style="font-size: x-large; font-weight: bold">Go to Music Stores</a><br>
        <!--https://spring-boot-gp.herokuapp.com/musicStore-->
        <!--http://localhost:8080/musicStore-->
        <br>
        <a class="btn btn-warning" href="https://spring-boot-gp.herokuapp.com/musicStore" role="button" style="color: white; font-size: x-large">Music Stores</a><br>
        <br>
        <br>
        <a style="margin-top: 200px; text-align: center; font-weight: bold">
            Page on the web from 2020. &copy; All rights reserved.
            <br/>
            Created by Grzegorz Poznański
        </a>
</div>
